/*Header section*/

@font-face {
    font-family: 'neo-sans-1361508444-webfont';
    src: url('../fonts/neo-sans-1361508444-webfont.ttf') format('truetype');
}

html {
    font-size: 13px;
}

header {
    width: 100%;
    max-width: 993px;
    margin: 0 auto;
    padding-top: 30px;
    padding-left: 30px;
    background-color:white;
}

.top-header, .bottom-header {
    display: flex;
    justify-content: space-between;
}

.top-header-left {
    width: 50%;
}

.logo {
    float: left;
    padding-right: 2%;
    white-space: nowrap;
}

.p-header {
    display: inline-block;
    font-family: myFirstFont;
    color: #a8c245;
    margin-top:9%;
}

ul {
    overflow: hidden;
    white-space: nowrap;
}

li {
    display: inline-block;
    font-size: 13px;
    font-family: 'neo-sans-1361508444-webfont';
    color: #a8c245;
}

li.element-li + li.element-li::before {
    content: " / ";
}


.search-div {
    width: 25%;
    height: 49px;
    max-width: 240px;
    position: relative;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-left: 3%;
}

.arrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #a8c345;
    border-left: 15px solid transparent;
    position: absolute;
    bottom: 5px;
    right: 6px;
}

nav {
    width: 75%;
}

.nav-ul {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.nav-element {
    font-size: 20px;
    color: #a8c245;
}

.arrow-nav {
    stroke: lightgray;
    stroke-width: 1
}

.element-li-nav {
    display: inline-block;
    font-size: 13px;
    font-family: 'neo-sans-1361508444-webfont';
    color: #a8c245;
}

/*Mid section*/
.mid-section {
    width: 96.8%;
    max-width: 968px;
    height: 240px;
    margin: 1.6% auto;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
/*First container*/
.first-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}



/*Left side first container*/
.first-container-left{
    position:relative;
    width:50%;
    overflow:hidden;
}

.phone-img {
    object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 100%;
}

.logo-img {
    position: absolute;
    bottom: 16.7%;
    right: 27%;
}

.centered {
    position: absolute;
    font-size: 500%;
    font-family: 'neo-sans-1361508444-webfont';
    color: white;
    top: 22%;
    right: 12.5%;
}


/*Right side first container*/
.first-container-right {
    background-color: darkolivegreen;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.first-container-right-top {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.first-container-right-bottom {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}
.dummy-text {
    font-family: myFirstFont;
    font-size: 18px;
    color: white;
}

.dummy-text-period {
    font-family: myFirstFont;
    font-size: 13px;
    color: white;
}


.second-container {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.second-container-image {
    object-fit: fill;
    object-position: 0 0;
    width: 100%;
    height: 50%;
}

.arrow-medium {
    width: 0;
    height: 0;
    border-bottom: 42px solid #a8c345;
    border-left: 42px solid transparent;
}

.second-container-top {  
    margin-top: 3%;
    margin-left: 13%;
    width:30%;
    height:15%;
}

.second-container-mid {
    margin-top: 10%;
    margin-left:20%;
}

.p-second-container {
    font-size: 1rem;
    font-family: myFirstFont;
    color:#665
}

.third-container {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.third-container-top{
    width:100%;
    height:50%;
}

.lower-section {
    width: 96.8%;
    max-width: 968px;
    display: flex;
    width: 96.8%;
    max-width: 968px;   
    height: 240px;
    margin: 1.6% auto;
    justify-content: space-between;
    position:relative;
}

.lower-section-p {
    color: #a8c245;
    margin: 0 6%;
}
.div-anchor {
    position: relative;
}

.arrow-lower {
    width: 0;
    height: 0;
    border-bottom: 8px solid #a8c345;
    border-left: 8px solid transparent;
    position: absolute;
    top:10%;
    left:1%;
}

.lower-section-element {
    width: 25%;
    max-width: 240px;
}

.lower-section-title {
    font-size: 1.2rem;
    color: #665;
    padding: 7%;
}


.lower-section-element {
    height: 100%;
}

.div-anchor {
    padding: 3px 10px;
    position: relative;
}

.lower-section-p:before {
    content: "";
    border-bottom: 8px solid #a8c345;
    border-left: 8px solid transparent;
    position: absolute;
    margin: 5px 0px;
    left: 4%;
}

.item {
    width:80%;
}

.arrow-div{
    display:flex;
    justify-content:flex-end;
}

.second-container {
    display: flex;
    flex-direction: column;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menu-burger{
    display:none;
}

@media only screen and (max-width: 420px) {
    .p-header {
        display:none;
    }

    .bottom-header {
        display: flex;
        flex-direction:column;
    }

    .nav-ul {
        padding: 2%;
        display: flex;
        flex-direction: column;
    }

    .arrow-nav {
        display: none;
    }

    .element-li-nav {
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        font-family: 'neo-sans-1361508444-webfont';
        color: #a8c245;
    }

    .search-div {
        width: 96%;
        padding-left: 1%;
        position: relative;
        max-width:unset
    }

    .mid-section {
        flex-flow:row wrap;
        height:auto;
    }

    .first-container{
        width:100%;
        height:206px;
    }

    .second-container{
        width:50%;
        height:206px;
    }

    .third-container{
        width:50%;
        height:206px;   
    }

    .lower-section {
        flex-wrap: wrap;
    }

    .div-anchor {
        padding: 1%;
    }

    .lower-section-element{
        width:50%;
    }

    
}