/*Header section*/

@font-face {
    font-family: 'neo-sans-1361508444-webfont';
    src: url('../fonts/neo-sans-1361508444-webfont.ttf') format('truetype');
}


header {
    width: 100%;
    max-width: 993px;
    margin: 0 auto;    
    padding-top: 30px;
    padding-left: 30px;
}

.topHeader, .bottomHeader {
    display: flex;
    justify-content: space-between;
}

.logo {
    float: left;
    padding-right: 2%;
    display: inline-block;
}

.pHeader {
    margin-top: 15%;
    display: inline-block;
    font-family: myFirstFont;
    color: #a8c245;
}

ul {
    overflow: hidden;
    white-space: nowrap;
}

li {
    display: inline-block;
    font-size: 13px;
    font-family: 'neo-sans-1361508444-webfont';
    color: #a8c245;
}

li.element-li + li.element-li::before {
    content: " / ";
}

.buttonNav {
    float: left;
    width: 135px;
    height: 40px;
    color: #3a5a24;
    font-family: 'neo-sans-1361508444-webfont';
    font-size: 20px;
    background: transparent;
    border: transparent;
}


#search-div {
    width: 25%;
    height: 49px;
    max-width: 240px;
    position: relative;
}

#search-input {
    width: 100%;
    height: 100%;
    font-size: 14px;
    padding-left: 3%;
}

.arrow {
    width: 0;
    height: 0;
    border-bottom: 15px solid #a8c345;
    border-left: 15px solid transparent;
    position: absolute; 
    bottom: 5px;
    right: 6px;
}

nav {   
    width: 75%;
}

nav ul {
    padding: 2%;
    display: flex;
    justify-content: space-between;
}

.nav-element {
    font-size:20px;
}

.arrow-nav {
    stroke: lightgray;
    stroke-width: 1
}


/*Mid section*/