<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventApp.Web</title>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    <header>
        <section class="top-header">
            <div>
                <img class="logo" src="~/images//logo.png" alt="Expert Network logo" />
                <p class="p-header">Lorem IpSum is dummy text</p>
            </div>
            <ul>
                <li class="element-li">
                    Lorem Ipsum
                </li>
                <li class="element-li">
                    Lorem Ipsum
                </li>
                <li class="element-li">
                    Lorem
                </li>
                <li class="element-li">
                    Lore Ipsum
                </li>
            </ul>
        </section>

        <section class="bottom-header">
            <nav>
                <ul>
                    <li>
                        <a class="nav-element" href="#">
                            Lorem Ipsum
                        </a>
                    </li>
                    <svg height="27" width="27" class="arrow-nav">
                        <line x1="0" y1="40" x2="35" y2="0" />
                    </svg>

                    <li>
                        <a class="nav-element" href="#">
                            Lorem Ipsum
                        </a>
                    </li>

                    <svg height="27" width="27" class="arrow-nav">
                        <line x1="0" y1="40" x2="35" y2="0" />
                    </svg>

                    <li>
                        <a class="nav-element" href="#">
                            Lorem
                        </a>
                    </li>

                    <svg height="27" width="27" class="arrow-nav">
                        <line x1="0" y1="40" x2="35" y2="0" />
                    </svg>
                    <li>
                        <a class="nav-element" href="#">
                            Lorem Ipsum
                        </a>
                    </li>
                </ul>              
            </nav>

            <div class="search-div">
                <input class="search-input" type="text" name="search" value="Lore Ipsum">
                <div class="arrow"></div>
            </div>
        </section>
    </header>

    <section class="mid-section">
        <div class="first-container">
            <div class="first-container-left">
                <img id="phone-img" src="~/images//phoneimg.png" />
                <img id="logo-img" src="~/images//logo.png"/>
                <p class="centered">
                    -15%
                </p>
            </div> 
            
            <div class="first-container-right">

            </div>
           
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>
    <div class="contentBody">

    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - EventApp.Web</p>
        </footer>
    </div>


</body>

</html>